@use "./colors";

body {
  background: url("../assets/images/landing-cover.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
a {
  text-decoration: none;
  color: black;
}
.navbar {
  border-bottom: 1px solid #ccdde2;
  img {
    padding: 6px;
  }
}
main {
  font-family: PoppinsRegular;
  h1 {
    color: colors.$text_orange;
    font-size: 60px;
    font-weight: 600;
    line-height: 63px;
    text-align: left;
  }
  h4 {
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;

    span {
      font-size: 18px;
      font-weight: 700;
      line-height: 25px;
      text-align: left;
    }
  }
}
